*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
 

body{
  background-color: rgb(161,223,226);
  font-family: Arial, sans-serif;
}

/* ===== HEADER ===== */
.header{
  padding: 20px;
}

.header__container{
  max-width: 1500px;
  margin: 0 auto;
}

.navigation{
  display: flex;
  justify-content: center;
}

.header__list{
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
  font-size: clamp(16px, 2vw, 28px);
  flex-wrap: wrap; /* перенос на маленьких экранах */
  justify-content: center;
}

.header__list-items{
  padding: 10px;
  border-bottom: 2px solid darkblue;
}

/* ===== TEXT ===== */
h1{
  text-align: center;
  padding-bottom: 20px;
}

h2{
  padding-top: 20px;
}

/* ===== LINKS ===== */
a{
  font-weight: 600;
  text-decoration: none;
}

/* ===== IMAGE BLOCK ===== */
.kartinka{
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: auto; /* важно */

}

img{
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  border-bottom: 4px solid #000;
}

/* ===== BUTTON ===== */
.knopka{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/* ===== CONTENT ===== */
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap; /* адаптив */
}

.text {
  flex: 1 1 300px; /* минимальная ширина */
}

.divcss{
  width: 100%;
  max-width: 800px;
}

/* ===== BLOCK ===== */
.textandkartinka{
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  flex-wrap: auto;
}

.cssprimer{
  width: 100%;
  max-width: 300px;
}

/* ===== MEDIA ===== */

/* планшеты */
@media (max-width: 768px){
  .header{
    padding: 15px;
  }

  .header__list{
    gap: 15px;
  }

  .container{
    flex-direction: column;
  }

  .textandkartinka{
    flex-direction: column;
    align-items: center;
  }
  
}

/* телефоны */
@media (max-width: 500px){
  h1{
    font-size: 22px;
  }

  .header__list{
    font-size: 16px;
  }

  .kartinka{
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; /* важно */

}
  .knopka{
    padding-top: 20px;
  }
  .textandkartinka{
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  flex-wrap: wrap;
}
body{
  background-position-x: -130px;
  background-position-y:75px;
  background-size: 1500px;
}
}
